.DarkTheme {
  background-color: #2b3e50
  color: #ebebeb;
}

.LightTheme {
  background-color: #b4cef7;
  color: #244427;
}

.linx {
  text-decoration: underline;
  cursor: pointer;
}

.linx:hover {
font-style: italic;
}

.darkText {
  color: #62656b;
}

h1 {
  color:#F00;
  font-family: Indie Flower;
}
